.meeting-container {
  padding: 20px;
}

.meeting-code {
  margin-bottom: 20px;
}

.copy-button {
  margin-left: 10px;
  cursor: pointer;
}

.user-list {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.meeting-title {
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.leave-container {
  text-align: center;
  margin-top: 40px;
}

.leave-button {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .meeting-container {
    padding: 10px;
    text-align:center;
  }

  .meeting-code {
    text-align: center;
    font-size: 16px;
  }

  .copy-button {
    display: block;
    margin: 10px auto 0;
  }

  .user-list {
    padding-left: 0;
    text-align: center;
  }

  .meeting-title {
    font-size: 22px;
    margin-top: 20px;
    
  }

  .video-container {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .leave-button {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }
}
